@using ErucaCRM.Web.Infrastructure;
@model ErucaCRM.Web.ViewModels.StageVM

@{
    ViewBag.Title = "ErucaCRM | Stages";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}
@section scripts {
    <script src="@Url.Content("~/Scripts/ErucaCRM.User/ErucaCRM.User.Stages.js")" type="text/javascript"></script>
}

@section ReadyScripts
{
ErucaCRM.User.Stages.pageLoad();
ErucaCRM.Framework.Common.ApplyHelp("Stage");
}
@section SideMenuCss
{
    <style>
        .wrapper-inner { border-left: 1px solid #B6B6B6; width: 91%; padding-left: 10px; overflow: hidden; }
        #SideMenu-Configuration { display: block; }

            #SideMenu-Configuration a[href*='Stages'] { background: #0798BC; color: #ffffff; }
    </style>
}
<script type="text/html" id="TemplateCompanyStages">
    <tr data-bind="attr: { id: StageId }, css: { _Stage: !IsInitialStage && !IsLastStage }" class="Stage">
        <td>
            <div class="_StageName" data-bind="text: StageName"></div>
        </td>
        <td>
            <div data-bind="if: ShowIcon">
                <img data-bind="attr: { src: Icons }" alt="" />
            </div>
        </td>
        <td>
            <div class="editdeletefloatright" data-bind="if: (!IsInitialStage && !IsLastStage)">
                <a class="_deletelink floatleft permissionbased" data-helpkey="deletestage" data-helppos="top-right" data-permission='@String.Concat(ErucaCRM.Utility.Constants.MODULE_STAGE, ErucaCRM.Utility.Constants.PERMISSION_DELETE)' data-bind="event: { click: function () { viewModel.DeleteStage(this) } }">
                    <img title="Delete Stage" src="/Content/images/delete.png" height="15" width="14" />
                </a>
            </div>
            <div class="editdeletefloatright">
                <a class="_EditLink floatleft permissionbased" data-permission='@String.Concat(ErucaCRM.Utility.Constants.MODULE_STAGE, ErucaCRM.Utility.Constants.PERMISSION_EDIT)' data-bind="event: { click: function () { viewModel.GetStageDetail(this) } }">
                    <img title="Edit Stage" src="/Content/images/Edit.jpg" height="15" width="14" />
                </a>
            </div>
        </td>
    </tr>
</script>
<h2>@Html.CultureSpecificDisplay(model => model.PageHeaderManage)</h2>
<div class="buttoncontainer clear-both permissionbased" data-helpkey="addstage" data-helppos="top-right" data-permission='@String.Concat(ErucaCRM.Utility.Constants.MODULE_STAGE, ErucaCRM.Utility.Constants.PERMISSION_CREATE)'>
    <a href="#" class="button small purple" id="AddStagebutton">@Html.CultureSpecificDisplay(model => model.ButtonCreate)</a>
</div>
<div class="clear pad5px"></div>
<span class="Stagedragdropnotification _Stagedragdropnotification"></span>
<div id="configstages" class="clear-both _roleselector">

    <table class="tablecontainer">
        <tr>
            <th>
                @Html.CultureSpecificDisplay(model => model.GridHeaders.GridHeaderStageName)
            </th>
            <th>
                @Html.CultureSpecificDisplay(model => model.GridHeaders.GridHeaderStageRating)
            </th>
            <th></th>
        </tr>
        <tbody id="CompanyStages" data-bind="template: { name: 'TemplateCompanyStages', foreach: CompanyStageList }"></tbody>
    </table>
</div>

<div id="addnewstage" class="hidden">
    <div class="popup">
        <input type="hidden" id="hdnStageId" value="0" />
        <span class="close-btn">
            <a class="_close" href="#">X</a>
        </span>
        <center>
<h2 class="_stageHeader">@Html.CultureSpecificDisplay(model => model.PageHeaderCreate)</h2>
</center>
        <div class="floatleft ">
            <div class="profile">
                <input type="hidden" id="hdnRoleId" value="0" />
                <div class="control-group">
                    <div class="display-label">

                        <label>@Html.CultureSpecificDisplay(model => model.PageLabels.StageName)</label>
                    </div>
                    <div class="display-field">
                        <input type="text" id="txtnewstage" class="input-text" maxlength="50" />
                    </div>
                    <div id="StageDurationDiv">
                        <div class="display-label">

                            <label>@Html.CultureSpecificDisplay(model => model.PageLabels.StageLeadDuration)</label>
                        </div>
                        <div class="display-field">
                            <input type="text" id="LeadStageDuration" class="input-text" maxlength="3" />
                        </div>
                    </div>
                </div>
                <div id="Ratingdiv">
                    <div class="control-group">
                        <div class="display-label">
                            <label>@Html.CultureSpecificDisplay(model => model.PageLabels.StageRating)</label>
                        </div>
                        <div class="display-field">
                            <div id="r1" class="rate_widget_stage _rate_widget">
                                @foreach (var item in ViewBag.Ratings)
                                {
                                    if (item.RatingConstant != ViewBag.Ratings.Count)
                                    {
                                    <div class="_star-@item.RatingConstant ratings_stars _ratings_stars" data-RatingConstant="@item.RatingConstant" data-Rating="@item.RatingId"></div>
                                    }
                                    else
                                    {     <div class="ratings_maxstars" data-RatingConstant="@item.RatingConstant" data-Rating="@item.RatingId"></div>}
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="display-label">
                    </div>
                    <div class="display-field text-align-left buttoncontainer">
                        <input type="submit" class="button purple small save-stage _save-stage" value="@Html.CultureSpecificDisplay(model => model.PageButtons.ButtonSave)" />
                        <input type="button" class="button purple small _close" value="@Html.CultureSpecificDisplay(model => model.PageButtons.ButtonCancel)" />
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="moveleadspop" class="hidden">
    <div class="popup">
        <span class="close-btn"><a class="_close" href="#">X</a></span>
        <center><h2 class="_StageHeader">@Html.CultureSpecificDisplay(model => model.PageSubHeaders.PageSubHeaderMoveLeads)</h2></center>
        <div class="floatleft ">
            <div class="profile">
                <input type="hidden" id="hdnStageId" value="0" />
                <div class="control-group">
                    <div class="display-label">
                        <label>@Html.CultureSpecificDisplay(model => model.PageLabels.Stages)</label>
                    </div>
                    <div class="display-field">
                        <select id="stageListdropdown" class="_stageListdropdown">
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <div class="display-label">
                    </div>
                    <div class="display-field text-align-left buttoncontainer">
                        <input type="submit" class="button purple small _submitbtn" value="@Html.CultureSpecificDisplay(model => model.PageButtons.ButtonSave)" />
                        <input type="button" class="button purple small _close" value="@Html.CultureSpecificDisplay(model => model.PageButtons.ButtonCancel)" />
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
