@using ErucaCRM.Web.Infrastructure;
@using ErucaCRM.Utility;

@model  ErucaCRM.Web.ViewModels.TaskItemVM

@{
    ViewBag.Title = "ErucaCRM | Tasks";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}
@section scripts {
    <script src="@Url.Content("~/Scripts/ErucaCRM.User/ErucaCRM.User.Tasks.js")" type="text/javascript"></script>

}

@section ReadyScripts
{
ErucaCRM.User.Tasks.pageLoad();
ErucaCRM.Framework.Common.ApplyHelp("TaskItem");
}
<div class="gridspace">
<h2>@Html.CultureSpecificDisplay(model => model.PageHeaderManage)</h2>


<div class="buttoncontainer permissionbased" data-helpkey="addtask" data-helppos="top-right"  data-permission="@string.Concat(Constants.MODULE_TASK, Constants.PERMISSION_CREATE)">
    @Html.ActionLink(Convert.ToString(Html.CultureSpecificDisplay(model => model.ButtonCreate)), "TaskItem", "User", null, new { @class = "button small purple _backtohere" })
</div>
<div class="clear _roleselector">
    @Html.Partial("TasksPartial",Model)
</div>
    </div>
