@using ErucaCRM.Web.Infrastructure;

@model ErucaCRM.Web.ViewModels.ForgotPasswordVM

@{
    //ViewBag.Title = "Recover Your Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.CultureSpecificPageMetaTitle;
    ViewBag.MetaTag = Model.CultureSpecificPageMetaTags;
}
@section scripts {
    <script src="@Url.Content("~/Scripts/ErucaCRM.Site/ErucaCRM.Site.ForgotPassword.js")" type="text/javascript"></script>
}

@section ReadyScripts
{
ErucaCRM.Site.ForgotPassword.pageLoad();
}

<style>
    .msgssuccess { color: green !important; }

    .msgerror { color: red !important; }
</style>
<div class="body-wrapper forgotpassword">


    <h2 class="header-forgotpassword">@Html.CultureSpecificDisplay(model => model.PageHeaders.PageHeaderRecoverYourPassword)</h2>
    <p>@Html.ValidationMessageFor(model => model.EmailId)</p>
    <div style="height: 20px">
        <p class="forgotpassword-error"></p>
    </div>
    <div class="recover-password">
        @Html.TextBoxFor(model => model.EmailId, new { @class = "input-text", placeholder = @Html.CultureSpecificDisplay(model => model.PageLabels.Email) })
        @*    <input class="input-text" placeholder = "@Html.CultureSpecificDisplay(model => model.PageLabels.Email)" id="EmailId"/>*@
        <p>
            <input id="RecoverPassword" type="submit" class="button buttonforgotpassword" value="@Html.CultureSpecificDisplay(model => model.PageButtons.ButtonRecoverForgotPassword)" />
        </p>
    </div>




</div>



